plugins/src/main/resources/xsd/AdminDB_ELEM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by running 'trang' (http://www.thaiopensource.com/download/trang-20030619.zip) 
     on CrystalClear V1.4s AdminDatabase_140.xml database file 
     1. Run trang as 'java -jar trang.jar AdminDatabase_140.xml AdminDB_ELEM.xsd' 
     	Note:- Remove offending null values from the xml file and re-run on failure
     2. trang run produces an addiitonal file CORE_DB.xsd. Copy both AdminDB_ELEM and CORE_DB to xsd folder
 -->
<xs:schema xmlns:CORE_DB="http://www.rigakumsc.com/Hobbit" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:import namespace="http://www.rigakumsc.com/Hobbit" schemaLocation="CORE_DB.xsd"/>
  <xs:element name="iMinorVersion">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="HoType" type="xs:NCName" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="lGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="OGROUPS"/>
      </xs:sequence>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="OGROUPS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iGroupID"/>
        <xs:element ref="sDescription"/>
        <xs:element ref="lAdminRights"/>
        <xs:element ref="lApplicationRights"/>
        <xs:element ref="lAdditionalData"/>
      </xs:sequence>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
      <xs:attribute name="mtype" type="xs:integer" use="required"/>
      <xs:attribute name="name" type="xs:NCName" use="required"/>
      <xs:attribute name="objID" type="xs:NCName" use="required"/>
      <xs:attribute name="otype" type="xs:integer" use="required"/>
      <xs:attribute name="version" type="xs:integer" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGroupID">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="HoType" type="xs:NCName" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="lAdminRights">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ORIGHTS"/>
      </xs:sequence>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="lApplicationRights">
    <xs:complexType>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="lUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="OUSERS"/>
      </xs:sequence>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="OUSERS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iUserID"/>
        <xs:element ref="sDescription"/>
        <xs:element ref="sUserPassword"/>
        <xs:element ref="iDefLanguage"/>
        <xs:element ref="lGroupReferences"/>
        <xs:element ref="lCoreData"/>
        <xs:element ref="lAppData"/>
        <xs:element ref="lDirectories"/>
        <xs:element ref="lAdditionalData"/>
      </xs:sequence>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
      <xs:attribute name="mtype" type="xs:integer" use="required"/>
      <xs:attribute name="name" type="xs:NCName" use="required"/>
      <xs:attribute name="objID" type="xs:NCName" use="required"/>
      <xs:attribute name="otype" type="xs:integer" use="required"/>
      <xs:attribute name="version" type="xs:integer" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="iUserID">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="HoType" type="xs:NCName" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="sUserPassword">
    <xs:complexType mixed="true">
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="iDefLanguage">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="HoType" type="xs:NCName" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="lGroupReferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="OGROUP_REFERENCE"/>
      </xs:sequence>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="OGROUP_REFERENCE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iHobject"/>
        <xs:element ref="rGroupReference"/>
      </xs:sequence>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
      <xs:attribute name="mtype" type="xs:integer" use="required"/>
      <xs:attribute name="objID" type="xs:NCName" use="required"/>
      <xs:attribute name="otype" type="xs:integer" use="required"/>
      <xs:attribute name="version" type="xs:integer" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="iHobject">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="HoType" type="xs:NCName" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="rGroupReference">
    <xs:complexType>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
      <xs:attribute name="id" type="xs:NCName" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="lServers">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="OSERVERS"/>
      </xs:sequence>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="OSERVERS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iPortNumber"/>
        <xs:element ref="sIPAddress"/>
        <xs:element ref="sPath"/>
        <xs:element ref="sArguments"/>
        <xs:element ref="sDescription"/>
        <xs:element ref="iServerFlags"/>
        <xs:element ref="iRangeLow"/>
        <xs:element ref="iRangeHigh"/>
        <xs:element ref="lAdditionalData"/>
      </xs:sequence>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
      <xs:attribute name="mtype" type="xs:integer" use="required"/>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="objID" type="xs:NCName" use="required"/>
      <xs:attribute name="otype" type="xs:integer" use="required"/>
      <xs:attribute name="version" type="xs:integer" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="iPortNumber">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="HoType" type="xs:NCName" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="sIPAddress">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:NMTOKEN">
          <xs:attribute name="HoType" type="xs:NCName" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="sArguments">
    <xs:complexType mixed="true">
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="iServerFlags">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="HoType" type="xs:NCName" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="iRangeLow">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="HoType" type="xs:NCName" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="iRangeHigh">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="HoType" type="xs:NCName" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="lTools">
    <xs:complexType>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="lModules">
    <xs:complexType>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="lAppPreferences">
    <xs:complexType>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="lGeneralPreferences">
    <xs:complexType>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="lAvailAdminRights">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ORIGHTS"/>
      </xs:sequence>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="lAvailAppRights">
    <xs:complexType>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="lAvailLanguages">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="OLANGUAGE"/>
      </xs:sequence>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="OLANGUAGE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iLangID"/>
        <xs:element ref="iResID"/>
        <xs:element ref="cOnOff"/>
      </xs:sequence>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
      <xs:attribute name="mtype" type="xs:integer" use="required"/>
      <xs:attribute name="name" type="xs:NCName" use="required"/>
      <xs:attribute name="objID" type="xs:NCName" use="required"/>
      <xs:attribute name="otype" type="xs:integer" use="required"/>
      <xs:attribute name="version" type="xs:integer" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="iLangID">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="HoType" type="xs:NCName" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="lAvailDirectories">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ODIRECTORIES"/>
      </xs:sequence>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sDescription">
    <xs:complexType mixed="true">
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ORIGHTS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iRightsID"/>
        <xs:element ref="iResID"/>
        <xs:element ref="cOnOff"/>
      </xs:sequence>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
      <xs:attribute name="mtype" type="xs:integer" use="required"/>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="objID" type="xs:NCName" use="required"/>
      <xs:attribute name="otype" type="xs:integer" use="required"/>
      <xs:attribute name="version" type="xs:integer" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="iRightsID">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="HoType" type="xs:NCName" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="lAdditionalData">
    <xs:complexType>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="lCoreData">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="OPREFERENCES"/>
      </xs:sequence>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="OPREFERENCES">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iPrefID"/>
        <xs:element ref="iValue"/>
      </xs:sequence>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
      <xs:attribute name="mtype" type="xs:integer" use="required"/>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="objID" type="xs:NCName" use="required"/>
      <xs:attribute name="otype" type="xs:integer" use="required"/>
      <xs:attribute name="version" type="xs:integer" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="iPrefID">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="HoType" type="xs:NCName" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="iValue">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="HoType" type="xs:NCName" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="lAppData">
    <xs:complexType>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="lDirectories">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="ODIRECTORIES"/>
      </xs:sequence>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sPath">
    <xs:complexType mixed="true">
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="iResID">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="HoType" type="xs:NCName" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="cOnOff">
    <xs:complexType>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ODIRECTORIES">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="iFlag"/>
        <xs:element ref="iResID"/>
        <xs:element ref="sPath"/>
      </xs:sequence>
      <xs:attribute name="HoType" type="xs:NCName" use="required"/>
      <xs:attribute name="mtype" type="xs:integer" use="required"/>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="objID" type="xs:NCName" use="required"/>
      <xs:attribute name="otype" type="xs:integer" use="required"/>
      <xs:attribute name="version" type="xs:integer" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="iFlag">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="HoType" type="xs:NCName" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
